<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elemento</title>
</head>
<body>
    <h1>Documento Elemento.html obtenido</h1>
    <h2>Número atómico: {{ num_atom }}</h2>
    <h2>Símbolo: {{ elemento }}</h2>
    <h2>Nombre: {{ nombre }}</h2>
    <h2>Masa atómica: {{ masa }}</h2>
    <h2>Periodo: {{ periodo }}</h2>
    <h2>Grupo: {{ grupo }}</h2>
    <h2>Estructura: {{ estructura }}</h2>
    <h2>Configuración electrónica: {{ conf_elec }}</h2>
    <h2>Año de descubrimiento: {{ descubrimiento }}</h2>
    <h2>Densidad: {{ densidad }}</h2>
</body>
</html>